    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "lato";
    }

    body {
        font-size: 16px;
    }

    /*Estilização da área de cadastro*/

    .cadastrar {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .cadastrar h1 {
        font-family: "roboto";
        font-weight: bold;
        font-size: 3em;
        padding: 3%;
    }

    .cadastrar h2 {
        font-size: 1em;
        padding: 1%;
    }

    .cadastrar-itens form {
        font-size: 1.5em;
        display: flex;
        flex-direction: column;
        width: 25%;
    }

    .cadastrar-itens {
        display: flex;
        justify-content: center;
    }

    .cadastrar-itens form>* {
        padding: 1%;
    }

    .botao {
        width: 200px;
        border-radius: 10%;
        color: white;
        margin: auto;
        background-color: rgb(29, 182, 218);
        font-size: 1em;
        margin-bottom: 5%;
    }

    /*Estilização da área de login*/

    .logar {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .logar h1 {
        font-family: "roboto";
        font-weight: bold;
        font-size: 3em;
        padding: 3%;
    }

    .logar h2 {
        font-size: 1em;
        padding: 1%;
    }

    .logar-itens form {
        font-size: 1.5em;
        display: flex;
        flex-direction: column;
        width: 25%;
    }

    .logar-itens {
        display: flex;
        justify-content: center;
    }

    .logar-itens form>* {
        padding: 1%;
    }

    .logar botao {
        width: 200px;
        border-radius: 10%;
        color: white;
        margin: auto;
        background-color: rgb(29, 182, 218);
        font-size: 1em;
        margin-bottom: 5%;
    }

    .logar-itens textarea {
        border-radius: 5px;
        border-color: black;
    }

    /*Estilização do FAQ*/

    .duvidas h1 {
        background-color: red;
        font-family: "roboto";
        width: 50%;
        height: auto;
        font-size: 4em;
        color: white;
        text-align: center;
        margin: auto;
        text-shadow: 0 0 3px #000;
        font-weight: bold;
    }

    .duvidas p {
        font-size: 1em;
        text-align: center;
        margin: auto;
        width: 20%;
        padding: 0 0 3% 0;
    }

    IMG.duvida {
        width: 60%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 5% 1% 1% 1%;
    }

    /*Estilização com as perguntas*/

    #perguntas {
        text-align: center;
        margin: auto;
        background-color: lightcyan;
        padding: 10px 0 10px 0;
    }

    #perguntas h2 {
        font-size: 2em;
        padding: 0 0 20px 0;
    }

    .perguntas-itens {
        display: flex;
        justify-content: space-around;
    }

    .perguntas-item {
        max-width: 350px;
    }

    .perguntas-item h3 {
        font-size: 2em;
    }

    .perguntas-item p {
        font-size: 1.1em;
        text-align: center;
        padding: 1%;
    }

    /*Estilização do sobre*/

    .sobrecarfel h1 {
        font-size: 5em;
        font-family: "roboto";
        color: black;
        text-align: center;
        margin: auto;
    }

    .sobrecarfel h2 {
        font-size: 2em;
        font-family: "roboto";
        color: black;
        text-align: center;
        margin: auto;
        font-weight: bold;
    }

    .sobrecarfel p {
        font-size: 1.5em;
        text-align: center;
        margin: auto;
        padding: 0 0 3% 0;
    }

    IMG.fachada {
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 1% 1% 1% 1%;
    }

    /*Estilização história*/

    #historiacarfel {
        text-align: center;
        flex-direction: column;
        display: flex;
        align-items: center;
        padding: 2%;
    }

    #historiacarfel h3 {
        font-size: 2em;
        font-family: "roboto";
        font-weight: bold;
        padding: auto;
    }

    #historiacarfel p {
        font-size: 1.2em;
        font-family: "lato";
        max-width: 50%;
    }

    /*Estilização do videos*/

    #videocarfel {
        text-align: center;
        flex-direction: column;
        display: flex;
        padding: 2em;
        align-items: center;
    }

    #videocarfel h4 {
        font-size: 2em;
        font-family: "roboto";
    }

    /*Aprovar comentários*/

    #aprovar {
        text-align: center;
        flex-direction: column;
        display: flex;
        padding: 2em;
        margin: auto;
        max-width: 500px;
        word-break: break-word;
    }

    #aprovar h3 {
        font-size: 2em;
        font-family: "roboto";
        font-weight: bold;
        padding: auto;
    }

    #aprovar h4 {
        font-size: 1em;
        font-family: "lato";
    }

    #aprovar p {
        font-size: 0.8em;
        font-family: "lato";
        font-style: italic;
    }

    /*responsibilidade*/

    @media screen and (max-width:1000px) {
        .cadastrar-itens form input[type="button"] {
            width: 100%;
        }
        .logar-itens form input[type="button"] {
            width: 100%;
        }
    }