@using Microsoft.AspNetCore.Http;
    
@if(Context.Session.GetString("IdUsuario") == null){
    Layout = "MasterPageDesLogado";
} else {
    Layout = "MasterPageLogado";
}

@section styles {<link rel="stylesheet" href="/css/style-pages.css"> }

<main>

    <!--Início da sobre-->

    <div class="sobrecarfel">
        <h1>CARFEL</h1>
        <h2>Automação na gestão de projetos</h2>
        <img class="fachada" src="/imagens/fachada.jpg">
        <p>Fachada da sede da CARFEL no centro de cidade de São Paulo. Fonte: Google Maps</p>
    </div>
    <div class="imagemfachada">
        <!--Fim da sobre-->

        <div class="quadrado-competencias1"></div>

        <!--Início do historia-->
        <section id="historiacarfel">
            <h3>História da CARFEL</h3>
            <BR><BR>
            <p>A CARFEL é uma startup especializada em softwares que automotizam a gestão de projetos empresariais em especial
                para empresas da áreas de tecnologia. Fundada em 2016 por dois empresários da área de TI (Tecnologia da Informação),
                a CARFEL tem apresentado soluções ainda inéditas no mercado.
                <BR>
                <BR> A CARFEL conta com mais de 50 colaboradores que atuam na sua sede no centro de São Paulo e em diversas partes
                do mundo em colaboração feita de forma remota. A equipe é multidisciplinar contando com a presença de desenvolvedores,
                designers, analistas, engenheiros e especialistas em pesquisas, tecnologia e markeng.
                <BR>
                <BR> A missão da CARFEL é desenvolver soluções de qualidade que facilitem a vida dos nosso clientes,permitindo
                que possam conduzir seus negócios com eficiência reduzindo os seus custos com a gestão de projetos.
                <BR>
                <BR> A empresa tem estrutura para oferecer diversas soluções na área de TI. O diferencial é ter um atendimento
                personalisado para cada tipo de cliente focando na resolução de demandas de forma mais ágil e eficaz possível.
            </p>
            <BR>
            <BR>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2923.11191352028!2d-46.64934256163147!3d-23.5356470367364!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce5843deb99025%3A0xb23619858bc7e63e!2sEscola+SENAI+de+Inform%C3%A1tica!5e1!3m2!1spt-BR!2sbr!4v1544552318653" width="560" height="315" allowfullscreen></iframe>
        </section>
        <!--Fim do historia-->

        <div class="quadrado-competencias2"></div>

        <!--Início do video-->

        <section id="videocarfel">
            <h4>Assista como o Check Point funciona</h4>
            <br>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/oLLebBT9_LU?rel=0"></iframe>
        </section>

        <!--Fim do video-->

</main>